*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oxygen', Helvetica, sans-serif;
  }
  
body {
  background-color:rgb(44, 54, 54);
  background-image: url('wallpaperflare.com_wallpaper.png');
  background-size: auto 100%;
  height: 100vh;
  display: flex;
}

button {
  width: 25%;
}

hr {
  margin: 5% 0;
  color:rgba( 255, 255, 255, 0.01 )
}

#icon {
  width: 8px;
}

#city-list {
  cursor: pointer;
}

#search-input {
  font-size: 1rem;
  outline: none;
  background-color:rgba( 255, 255, 255, 0.01 );
  color: white;
}

#search-button {
  width: 25%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

input::placeholder {
  color:rgba( 255, 255, 255, 0.3 );
}

#current, h1 {
  font-size: 8rem;
  font-weight: 700;
}

#details {
  color: white;
  padding: 10% 0;
}

#main {
  position: relative;
  color: white;
  flex: 2;
  height: 100%;
}

#main-content > * {
  padding: 0 2%;
  display: inline-block;
}

#name, h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5%;
}

#sidebar-content {
  display: flex;
}

#sidebar-content > ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#sidebar-content > ul > li {
  min-width: 25%;
  margin-right: 20px;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li {
  padding: 4% 0;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  color: white;
}

.li-left {
  color:rgba( 255, 255, 255, 0.3 );
  margin-right: 10px;
}

@media (min-width: 801px) {
  body {
    flex-direction: row;
  }

  #main-content {
    margin-top: 60%;
  }

  #search-input {
    padding: 2.5% 0;
    border: none;
    width: 74%;
  }

  #sidebar {
    overflow: scroll;
    height: 100vh;
    background: rgba(20, 20, 20, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}

@media (max-width: 800px) {
  body {
    flex-direction: column-reverse;
    max-height: 100vh;
  }

  #main {
    display: flex;
    justify-content: center;
  }

  #main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #current, h1 {
    font-size: 4rem;
    font-weight: 200;
  }

  #name-time {
    order: 1;
    width: 100%;
    flex-grow: 3;
  }

  #current {
    order: 2;
  }

  #icon-weather {
    order: 3;
  }

  #name, h2 {
    font-size: 2rem;
  }

  #sidebar > * {
    align-self: center;
    width: 90%;
  }

  #city-list {
    display: none;
  }

  #search {
    margin: 0;
    width: 90%;
    align-self: center;
  }

  #search-input {
    margin: 5% 0;
    width: 100%;
    padding: 2.5%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 15px;
  }
}